<div class="form_align">
	<%= f.label :paper_specification_id %>
	<%= f.collection_select(:paper_specification_id,
                      Lists::PaperSpecification.where("in_stock" => true),
                      :id,
                      :full_paper_format) %>
</div>

<div class="form_align">
	<%= f.label :print_margin_id %>
	<%= f.collection_select(:print_margin_id,
                      Lists::PrintMargin.find(:all),
                      :id,
                      :margin) %>
</div>

<div class="form_align">
	<%= f.label :order_type %>
	<%= f.text_field :order_type %>
</div>

<div class="form_align">
	<%= f.label :price %>
  	<%= f.text_field :price %>
</div>

<div class="form_align">
	<%= f.label :available %>
  	<%= f.check_box :available %>
</div>




