<h2>Спецификация готовых документов</h2>
<p>Если параметр "<%= Lists::DocumentSpecification.human_attribute_name("available") %>" имеет положительное значение, то документ будет доступен для заказа пользователям.</p>
<p><%= link_to 'Создать', new_lists_document_specification_path, :class => 'button_style_long' %></p>
<table class="admin">

  <%= render :partial => 'document_specification_header' %>

  <%= render :partial => 'document_specification_for_admin' , :collection => @dspecs%>

</table>
<%= link_to 'Назад', admin_users_path, :class => 'button_style' %>
    
    
    