<% @str_1 = "<div class=\"link_container_for_service\" onclick= \"window.location = '/services/#{service_for_user.permalink}/subservices';\">" %>
<% @str_2 = "</div>" %>

<%= @str_1.html_safe %>
  <%= image_tag(service_for_user.service_header_icon.url, :border => '0') %>
  <div class="service_title">
    <%= service_for_user.title %>
  </div>
  <div class="service_synopsis">
    <%= service_for_user.synopsis %>
  </div>
<%= @str_2.html_safe %>