<tr>
  <td><%= link_to 'Х', service_path(service_for_admin), :method => :delete, :confirm => 'Действительно хотите удалить услугу?' %></td>
  <td><%= service_for_admin.title %></td>
  <td><%= service_for_admin.synopsis %></td>
  <td><%= service_for_admin.permalink %></td>
  <td><%= service_for_admin.pricelist %></td>
  <td><%= link_to 'Редактировать', edit_service_path(service_for_admin) %></td>
</tr>