<h2>Редактирование услуг</h2>
  <p><%= link_to 'Создать услугу', new_service_path, :class => 'button_style_long' %></p>
<table class ="default_table">
  <tr class="header">
    <th></th>
    <th><%= Service.human_attribute_name("title") %></th>
    <th><%= Service.human_attribute_name("synopsis") %></th>
    <th><%= Service.human_attribute_name("permalink") %></th>
    <th><%= Service.human_attribute_name("pricelist") %></th>
    <th><%= Service.human_attribute_name("order_type") %></th>
    <th></th>
  </tr>

  <%= render :partial => 'service_for_admin', :collection => @services %>
</table>
<%= link_to 'Назад', admin_users_path, :class => 'button_style' %>
