tr.grey_on_hover
  - if current_user
    - if current_user.owner?(page) && current_user.has_role(:pages, :destroy)
      %td= link_to 'Х', admin_page_path(page), :method => :delete, data: {confirm: 'Действительно хотите удалить?'}

  %td= page.title
  %td= link_to page.permalink, admin_page_path(page)
  %td= Russian::strftime(page.created_at, "%d %B %Y")
  %td= boolean_to_ru(page.published)
  %td= link_to 'Ред.', edit_admin_page_path(page)