<div class="form_align">
  <%= f.label(:delivery_type) %>
  <%= f.select "delivery_type", Order::DELIVERY_TYPE, { :prompt => true } %>

</div>

<div class="form_align">
  <%= f.label :price %>
  <%= f.text_field :price,
                   :class => 'req_input'%>
</div>

<div class="form_align">
  <%= f.label :delivery_limit_time %>
  <%= f.text_field :delivery_limit_time,
                   :class => 'req_input'%>
</div>

<div class="form_align">
  <%= f.label :territory %>
  <%= f.text_area :territory,
                   :class => 'req_textarea'%>
</div>
