<tr>
  <td><%= line.delivery_type %></td>
  <td><%= h (number_to_currency(line.price, :unit => "коп.", :separator => " руб. ")) %></td>
  <td><%= line.delivery_limit_time %></td>
  <td><%= line.territory %></td>
	<% if current_user && current_user.has_role?('Administrator') %>
    	<td><%= link_to 'Редактировать', edit_pricelist_delivery_path(line) %></td>
    	<td><%= link_to 'Х', pricelist_delivery_path(line), :method => :delete, :confirm => 'Действительно хотите удалить запись?' %></td>
	<% end %>
</tr>