<h2><%= @title %></h2>

<%= form_for @order, :url => order_path(@order), :html => { :method => :put, :id => @order.id, :class => @order_class} do |order| -%>
  <h2 class="orange">Адрес и время доставки</h2>
  
  <%= render :partial => 'orders/share/delivery_order_edit', :locals => {:order => order, :current_order => @order} %>
  
  <%= render :partial => 'orders/share/total_and_submit', :locals => {:order => order, :current_order => @order}  %>	

<% end -%>
  <%= render :partial => 'orders/share/cancel', :locals => {:current_order => @order}  %>	

 