<h2><%= @title %></h2>

<%= form_for @order, :url => order_path(@order), :html => { :method => :put, :id => @order.id, :class => @order_class} do |order| -%>
  	
    <h2 class="orange">Обновление статуса</h2>
	<%= render :partial => 'orders/share/form', :locals => {:f => order} %>

	<div class="submit_area">
	 <%= submit_tag 'Сохранить изменения', :class => 'submit'  %>
	 <%= link_to 'Отмена', admin_orders_path, :class => 'button_style' %>
	</div>
<% end -%>
 