  <div class="form_shape">
      <%= form_for :user, :url => :login do |form| %>
        <div class="form_align">
            <%= form.label :email %>
            <%= form.text_field :email,
                                :size => User::EMAIL_SIZE,
                                :maxlength => User::EMAIL_MAX_LENGTH %>
        </div>

        <div class="form_align">
        <%= form.label :password %>
        <%= form.password_field :password,
                                :size => User::PASSWORD_SIZE,
                                :maxlength => User::PASSWORD_MAX_LENGTH %>
        </div>

        <div class="submit_area">
          <%= submit_tag "Войти", :class => 'submit' %>
        </div>

      <% end %>
  </div>
    <p class="center">
      Впервые на сайте? <%= link_to "Зарегистрируйтесь", new_user_path %>
    </p>
    
  <!--
  <td>
    <p><label for="remember_me">Remember me:</label>
    <%= check_box_tag 'remember_me' %></p>
  </td>
  -->
