<h2><%= @title %></h2>
<p><%= link_to 'Создать', new_lists_print_margin_path, :class => 'button_style_long' %></p>
<table class="admin">
  <tr>
    <th></th>
    <th><%= Lists::PrintMargin.human_attribute_name("margin") %></th>
    <th></th>
  </tr>

  <%= render :partial => 'margin' , :collection => @margins %>

</table>
<%= link_to 'Назад', admin_users_path, :class => 'button_style' %>
    
    
    