<h1>Создание</h1>

<%= form_for :margin, :url => lists_print_margins_path do |f| %>
	<%= f.error_messages %>
  	<%= render :partial => 'form', :locals => {:f => f} %>
  
		<div class="submit_area">
			<%= submit_tag 'Сохранить', :class => 'submit' %>
		</div> 
	<% end -%>
	<%= render :partial => 'share/cancel', :locals => {:path => lists_print_margins_path}  %>


 
