<div id="admin_menu">
  <%= link_to 'Разделы сайта', admin_sections_path, :class => 'for_admin' %>
  <%= link_to 'Страницы сайта', admin_pages_path, :class => 'for_admin' %>
  <%= link_to 'Пользователи', users_path, :class => 'for_admin' %>
  <%= link_to 'Роли', roles_path, :class => 'for_admin' %>
  <%= link_to 'Статьи', admin_articles_path, :class => 'for_admin' %>
  <%= link_to 'Категории статей', admin_categories_path, :class => 'for_admin' %>
  <%= link_to 'Обратная связь',  admin_letters_path, :class => 'for_admin'%>
  <%= link_to 'Услуги',  admin_services_path, :class => 'for_admin'%>
  <%= link_to 'Подуслуги',  admin_subservices_path, :class => 'for_admin'%>
  <%= link_to 'Заказы',  admin_orders_path, :class => 'for_admin'%>
</div>