  <% sections = Section.all %>
  <% Section::SECTION_ORDER.each do |section_order| %>
      <% sections.each do |section| %>
        <% if section.subsections.size > 0 %>
		  	<% @subsection = true %>
		  	<% @arrow = 'arrow-down' %>
		<% else %>
		  	<% @subsection = false %>
		  	<% @arrow = '' %>		
		<% end %>
        <% if section.order == section_order && section.published == true %>
        <li>
          <span class="<%= "#{@arrow}" %>"></span>
          <% if section.controller == 'no' %>
              <%= link_to section.title, section_page_path(section) %>
          <% else %>
	          <% if section.action == 'index' %>
	              <%= link_to section.title, "/#{section.controller}", {:category_id => nil} %>
			  <% else %>
	              <%= link_to section.title, "/#{section.controller}/#{section.action}", {:category_id => nil} %>
	          <% end %>
          <% end %>
	        <% if @subsection %>
	        	<ul>
		        	<% subsections = section.subsections.all %>
		        	<% Subsection::SUBSECTION_ORDER.each do |subsection_order| %>
		        		<% subsections.each do |subsection| %>
		        				<% if subsection.order == subsection_order && subsection.published == true %>
					                  <li>
						                  <% if subsection.controller == 'no' %>
								              <%= link_to subsection.title, section_subsection_pages_path(section, subsection) %>
								          <% else %>
									          <% if subsection.action == 'index' %>
									              <%= link_to subsection.title, "/#{subsection.controller}", {:category_id => nil} %>
											  <% else %>
									              <%= link_to subsection.title, "/#{subsection.controller}/#{subsection.action}", {:category_id => nil} %>
									          <% end %>
								          <% end %>
							          </li>
		        				<% end %>
		        		<% end %>
		        	<% end %>
		       	</ul>
	        <% end %>

        </li>
        <% end %>
      <% end %>
  <% end %>


