<h2><%= @title %></h2>
<p><%= link_to 'Создать', new_lists_paper_density_path, :class => 'button_style_long' %></p>
<table class="default_table">
  <tr class="header">
    <th></th>
    <th><%= Lists::PaperDensity.human_attribute_name("density") %></th>
    <th></th>
  </tr>

  <%= render :partial => 'density' , :collection => @densities %>

</table>
<%= link_to 'Назад', admin_users_path, :class => 'button_style' %>
    
    
    