<div class="form_align">
	<%= f.label :paper_type_id %>
	<%= f.collection_select(:paper_type_id,
                      Lists::PaperType.find(:all),
                      :id,
                      :paper_type_with_grade) %>
</div>

<div class="form_align">
	<%= f.label :paper_size_id %>
	<%= f.collection_select(:paper_size_id,
                      Lists::PaperSize.find(:all),
                      :id,
                      :size) %>
</div>

<div class="form_align">
	<%= f.label :price %>
  	<%= f.text_field :price, :class => 'req_input'  %>
</div>

<div class="form_align">
	<%= f.label :in_stock%>
  	<%= f.check_box :in_stock %>
</div>

<div class="form_align">
	<%= f.label :order_type_id %>
	<%= f.collection_select(:order_type_id,
                      Lists::OrderType.find(:all),
                      :id,
                      :title) %>
</div>



