<h2>Спецификация бумаг</h2>
<p><%= link_to 'Создать', new_lists_paper_specification_path, :class => 'button_style_long' %></p>
<table class="admin">
  <tr>
    <th></th>
    <th><%= Lists::PaperSpecification.human_attribute_name("paper_size_id") %></th>
    <th><%= Lists::PaperSpecification.human_attribute_name("paper_type_id") %></th>
	<th><%= Lists::PaperSpecification.human_attribute_name("price") %></th>
	<th><%= Lists::PaperSpecification.human_attribute_name("in_stock") %></th>
	<th><%= Lists::PaperSpecification.human_attribute_name("order_type_id") %></th>
    <th></th>
  </tr>

  <%= render :partial => 'paper_specification_for_admin' , :collection => @pspecs %>

</table>
<%= link_to 'Назад', admin_users_path, :class => 'button_style' %>
    
    
    