<h2><%= @title %></h2>
  <p><%= link_to 'Создать запись', new_lists_scan_specification_path, :class => 'button_style_long' %></p>
<table class ="default_table">
	  <tr class="header">
	    <th></th>
	    <th><%= Lists::ScanSpecification.human_attribute_name("paper_size_id") %></th>
	    <th><%= Lists::ScanSpecification.human_attribute_name("price") %></th>
	    <th><%= Lists::ScanSpecification.human_attribute_name("order_type_id") %></th>
	    <th></th>
	  </tr>
      <%= render :partial => 'scan_specification_for_admin', :collection => @lines %>
</table>

<%= link_to 'Назад', admin_users_path, :class => 'button_style' %>
