<%= error_messages_for :pricelist_scan %>
<h2><%= @title %></h2>
<div class="form_shape">
  <%= form_for :line, :url => lists_scan_specifications_path, :html => { :method => :post } do |f| -%>

    <%= render :partial => 'form', :locals => {:f => f} %>

    <div class="submit_area">
      <%= submit_tag 'Сохранить', :class => 'submit' %>
    </div>
  <% end -%>
</div>