<tr class="grey_on_hover">
  <td><%= link_to 'Х', article_path(article_for_admin), :method => :delete, :confirm => 'Действительно хотите удалить статью?' %></td>
  <td><%= article_for_admin.title %></td>
  <td><%= article_for_admin.category.name %></td>
  <td><%= Russian::strftime(article_for_admin.created_at, "%d %B %Y") %></td>
  <td><%= boolean_to_ru(article_for_admin.published) %></td>
  <td><%= "#{article_for_admin.user.first_name} #{article_for_admin.user.second_name}" %></td>
  <td><%= boolean_to_ru(article_for_admin.this_news) %></td>
  <td><%= link_to 'Редактировать', edit_article_path(article_for_admin) %></td>
</tr>