<div class="article">
  <div class="article_img">
    <%= link_to image_tag(article_for_user.header_image.url, :border => "0"), article_path(article_for_user) %>
  </div>
  <div class="article_fill"></div>
  <div class="article_title">
    <%= raw(article_for_user.title) %>
  </div>
  <div class="article_synopsis">
    <%= raw(article_for_user.synopsis) %>
  </div>
  <% if article_for_user.this_news %>
  	<%= link_to '#', section_subsection_page_path(@current_subsection.section, @current_subsection, article_for_user), :class => "article_link" %>
  <% else %>
    <%= link_to '#', article_path(article_for_user), :class => "article_link" %>
  <% end %>
</div>