<h2>Редактирование статей</h2>
  <p><%= link_to 'Создать статью', new_article_path, :class => 'button_style_long' %></p>
<table class ="admin">
  <tr>
    <th></th>
    <th><%= Article.human_attribute_name("title") %></th>
    <th><%= Article.human_attribute_name("category_id") %></th>
    <th><%= Article.human_attribute_name("created_at") %></th>
    <th><%= Article.human_attribute_name("published") %></th>
    <th><%= Article.human_attribute_name("user_id") %></th>
    <th></th>
  </tr>

  <%= render :partial => 'article_for_admin', :collection => @articles %>

</table>

  
<%= link_to 'Назад', admin_users_path, :class => 'button_style' %>
