<% content_for :head do %>
  <%= auto_discovery_link_tag %>
<% end %>
  <h1>
    <% if @category -%>
      <span class="grey">
        <%=link_to "Статьи", articles_path, :class=> "article_nav" %></span><%="/#{@category.name}"%>
    <% else %>
      Статьи
    <% end -%>
  </h1>

<%= render :partial => 'article_for_user', :collection => @articles %>

<%= will_paginate @articles %>
