<% content_for :head do %>
	<%= javascript_include_tag "ckeditor/init" %>
<% end %>
<%= error_messages_for :article %>

<h2>Создание статьи</h2>
	<%= form_for :article, :url => articles_path, :html => { :method => :post } do |f| -%>
	
	<%= render :partial => 'form', :locals => {:f => f} %>

	<div class="submit_area">
		<%= submit_tag 'Сохранить', :class => 'submit' %>
	</div> 
<% end -%>
<%= render :partial => 'share/cancel', :locals => {:path => admin_articles_path}  %>
