<h2><%= @article.title %></h2>
    <%= raw(@article.body) %>
    <div class="property_article">
      <%= image_tag("icons/date_created.png", :alt => Article.human_attribute_name("published_at"))%>
      <p><%= Russian::strftime(@article.published_at, "%d %B %Y") %></p>
    </div>
<%= link_to image_tag("icons/back.png"), :back, :class => "button_style" %>

