<tr class="document grey_on_hover" id="<%= document.id %>" name="document" >
  <%= fields_for "order[documents_attributes][]", document do |i| %>
    <td class="upload">
      <div class="container_for_link_delete_docfile">
        <%= link_to image_tag("icons/del-3.png"), order_document_path(@order, document), :method => :delete, :remote => :true, :class => 'link_delete docfile_delete', :title => 'Удалить файл' %>
      </div>
      <%= thumb_for_doc(document) %>
      <span class="document_uploaded_user_filename">
      	<%= document.user_filename %>
      </span>
    </td>
    <td class="page_count">
    	<% unless page_count_for_doc(document) %>
	    	<div class="quantity_selector">
		        <%= button_tag(' ', :type => 'button', :class => 'decrease_quantity') %>
		        <%= i.text_field(:page_count) %>
		        <%= button_tag(' ', :type => 'button', :class => 'increase_quantity') %>
	 		</div>
 		<% else %>
 		    <%= page_count_for_doc(document) %>
 		<% end %>
    </td>
    
	<%= render :partial => 'documents/paper', :locals => {:order => @order, :document => document, :i => i} %>

    <td class="print_settings">
    	<div class="print_color">
    		<%= i.label :print_color, :class => 'float_left' %>
      		<%= select_tag("order[documents_attributes][#{document.id}][print_color]", options_from_collection_for_select(Lists::PrintColor.available_print_colors(@order.order_type.title), 'id', 'color', document.print_color.id), {:class => 'print_color_selector'}) %>
    	</div> 
    	<div class="fl_clear"></div> 
	      <%= i.text_area :user_comment, :placeholder => Document.human_attribute_name("user_comment"), :class => 'document_uploaded_user_comment' %>
	    <div class="fl_clear"></div> 
	    <div class="print_setting_1">

	    </div>   
    </td>

    <td class="document_cost">
		<div class='floatingBarsG'>
			<div class='blockG' id='rotateG_01'></div>
			<div class='blockG' id='rotateG_02'></div>
			<div class='blockG' id='rotateG_03'></div>
			<div class='blockG' id='rotateG_04'></div>
			<div class='blockG' id='rotateG_05'></div>
			<div class='blockG' id='rotateG_06'></div>
			<div class='blockG' id='rotateG_07'></div>
			<div class='blockG' id='rotateG_08'></div>
		</div>
		<div class='document_cost_value'>
      		<%= h (number_to_currency(document.cost, :unit => "коп.", :separator => " руб. ")) %>
    	</div>
    </td>
  <% end %>
</tr>