<tr class="document" id="<%= document.id %>" name="document" >
  <%= fields_for "order[documents_attributes][]", document do |i| %>
    <td class="upload">
      <div class="container_for_link_delete_docfile">
        <%= link_to image_tag("icons/del-3.png"), order_document_path(@order, document), :method => :delete, :remote => :true, :class => 'link_delete_docfile', :title => 'Удалить файл' %>
      </div>
      <%= thumb_for_doc(document) %>
    </td>
    <td class="page_count">
    	<% unless page_count_for_doc(document) %>
	        <%= button_tag(' ', :type => 'button', :class => 'increase_page_count') %>
	        <%= i.text_field(:page_count) %>
	        <%= button_tag(' ', :type => 'button', :class => 'decrease_page_count') %>
 		<% else %>
 		    <%= page_count_for_doc(document) %>
 		<% end %>
    </td>
    
    <td class="paper">
	    <div class="paper_size">  
	      	<%= select_tag("order[documents_attributes][#{document.id}][paper_size]") %>
	    	<%= i.label :paper_size %>
	    </div>
	    <div class="fl_clear"></div>
	    <div class="paper_type">
	    	<%= select_tag("order[documents_attributes][#{document.id}][paper_type]", {}, {:disabled => true}) %>
			<%= i.label :paper_type %>
	    </div>
	    <div class="fl_clear"></div>
	    <div class="quantity">	      
	      <%=  button_tag ' ', :type => 'button', :class => 'increase_quantity' %>
	      <%= i.text_field (:quantity)%>
	      <%=  button_tag ' ', :type => 'button', :class => 'decrease_quantity' %>
	      <%= i.label :quantity %>
	    </div>
	    <div class="fl_clear"></div>
    </td>

    <td class="print_settings">
    	<div class="print_color">
    		<%= i.label :print_color %>
      		<%= select_tag("order[documents_attributes][#{document.id}][print_color]", {}, {:disabled => true}) %>
    	</div> 
    	<div class="fl_clear"></div> 
	    <div class="user_comment">
	      <%= i.text_area :user_comment, :placeholder => Document.human_attribute_name("user_comment") %>
	    </div>
	    <div class="fl_clear"></div> 
 	
    </td>

    <td class="document_cost">
		<div class='floatingBarsG'>
			<div class='blockG' id='rotateG_01'></div>
			<div class='blockG' id='rotateG_02'></div>
			<div class='blockG' id='rotateG_03'></div>
			<div class='blockG' id='rotateG_04'></div>
			<div class='blockG' id='rotateG_05'></div>
			<div class='blockG' id='rotateG_06'></div>
			<div class='blockG' id='rotateG_07'></div>
			<div class='blockG' id='rotateG_08'></div>
		</div>
		<div class='document_cost_value'>
      		<%= h (number_to_currency(document.cost, :unit => "коп.", :separator => " руб. ")) %>
    	</div>
    </td>
  <% end %>
</tr>