<h1>Редактирование cтатуса</h1>
<div class="form_shape">
	<%= form_for :status, :url => lists_order_status_path(@status), :html => {:method => :put, :id => 'edit_order_status'} do |f| %>
	  <%= f.error_messages %>
	  <%= render :partial => 'form', :locals => {:f => f} %>
	    <div class="submit_area">
	      <%= submit_tag 'Сохранить', :class => 'submit' %>
	      <%= link_to 'Назад', lists_order_statuses_path, :class => 'button_style' %>
	   </div>
	  
	<% end %>
</div>



