<h1>Создание</h1>
<%= error_messages_for :binding %>
<%= form_for :binding, :url => lists_bindings_path do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  
    <div class="submit_area">
      <%= submit_tag 'Сохранить', :class => 'submit' %>
      <%= link_to 'Назад', lists_bindings_path, :class => 'button_style' %>
    </div>

<% end %>

 
