<table id="fileList" class="default_table">
		<%= fields_for "order[documents_attributes][]", order.documents.first do |i| %>
			<tr class="paper_size">
				<td class="text-center">
					<%= i.label :paper_size, :class => 'wide envelope_size' %>
					<%= select_tag("order[documents_attributes][#{order.documents.first.id}][paper_size]", {}, {:class => 'wide envelope_size_selector'}) %>
				</td>
			</tr>
			<tr class="paper_type">
				<td class="text-center">
					<%= i.label :paper_type, :class => 'wide envelope_type' %>
					<%= select_tag("order[documents_attributes][#{order.documents.first.id}][paper_type]", {}, {:disabled => true, :class => 'wide envelope_type_selector'}) %>
				</td>
			</tr>
			<tr class="document" id="<%= order.documents.first.id %>" name="document">
				<td>
					<div class="editor">
						<div class="editor_container">
							
							<div class="top_toolbar">
								<div class="font_family_tool">
									<span class="label">Шрифт</span>
									<select id="font_family_picker">
										<option value="Arial" id="Arial" class="font_style_tool_active">Arial</option>
										<option value="Asylbek" id="Asylbek">Asylbek</option>
										<option value="Calibri" id="Calibri">Calibri</option>
										<option value="Courier_New" id="Courier_New" >Courier New</option>
										<option value="Majestic" id="Majestic">Majestic</option>
										<option value="Monotype Corsiva" id="Monotype Corsiva">Monotype Corsiva</option>
										<option value="Romashulka" id="Romashulka">Romashulka</option>
										<option value="Rosa Marena" id="Rosa Marena">Rosa Marena</option>
										<option value="Segoe Print" id="Segoe Print">Segoe Print</option>
										<option value="Times New Roman" id="Times New Roman" class="font_style_tool_active">Times New Roman</option>
										<option value="Trafaret" id="Trafaret">Trafaret</option>
										<option value="Vivaldi" id="Vivaldi">Vivaldi</option>
										<option value="Xiomara" id="Xiomara">Xiomara</option>
									</select>
								</div>
								<div class="color_tool"></div>
								<div class="font_style_tool">
									<%=  button_tag 'Ж', :type => 'button', :id => "font_weight", :class => "font_style_button" %>	
									<%=  button_tag 'К', :type => 'button', :id => "font_style", :class => "font_style_button" %>	
								</div>
							</div>
							
							<div class="canvas_panel" rel="<%= order_documents_path(order) %>">
								
								<div id="canvas_bg"></div>
								
								<canvas id="canvas" ></canvas>
							
							</div>
		
							<div class="toolbar_bottom">
							
							</div>
		
						</div>
						<div class="sidebar_container">
							
							<section class="tabs">
								<input id="tab_1" type="radio" name="tab" checked="checked" />
								<input id="tab_2" type="radio" name="tab" />
								
								<label for="tab_1" id="tab_l1">Изображения</label>
								<label for="tab_2" id="tab_l2">Текст</label>
								<div style="clear:both"></div>
							
								<div class="tabs_cont">
									<div id="tab_c1">
										<%= render :partial => 'documents/envelope_print/emb_filelist', :locals => {:document => order.documents.first} %>
									</div>
									<div id="tab_c2">
										<%=  button_tag image_tag('icons/plus_grey.png'), :type => 'button', :id => 'add_text', :class => "add_canvas_element", :title => 'Добавить текст' %>
			  							<table id="text_inputs_wrapper"> 
			  								
			  							</table>		
									</div>
								</div>
							</section>
							
						</div>
		
						<div class="fl_clear"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
				    <%= i.label :quantity, :class => 'wide envelope_quantity' %> 
				    <div class="quantity_selector_wide">
					     <%= button_tag(' ', :type => 'button', :class => 'decrease_quantity') %>
					     <%= i.text_field(:quantity) %>
					     <%= button_tag(' ', :type => 'button', :class => 'increase_quantity') %>
				 	</div>
				</td>
			</tr>
			<tr>
				<td>
		  	      <%= i.text_area :user_comment, :placeholder => Document.human_attribute_name("user_comment"), :class => 'document_editor_user_comment'  %>
				</td>
			</tr>
		<% end %>	
</table>
