<table id="fileList" class="default_table">
	<thead>
		<tr class="document" id="<%= document.id %>" name="document" >
		  <%= fields_for "order[documents_attributes][]", document do |i| %>
			<td>
				<div class="form_align">
					<%= select_tag("order[documents_attributes][#{document.id}][paper_size]") %>
					<%= i.label :paper_size %>
				</div>					
				
				<div class="form_align">
					<%= select_tag("order[documents_attributes][#{document.id}][paper_type]", {}, {:disabled => true}) %>
					<%= i.label :paper_type %>
				</div>	
				
				<div class="editor">
					<div class="editor_container">
						
						<div class="top_toolbar">
							<div class="font_family_tool">
								<span class="label">Шрифт</span>
								<select id="font_family_picker">
									<option value="andale_mono" class="andale_mono">Andale Mono</option>
									<option value="arial" class="arial">Arial</option>
									<option value="asylbek" class="asylbek">Asylbek</option>
									<option value="courier_new" class="courier_new">Courier New</option>
									<option value="impact" class="impact">Impact</option>
									<option value="katherine" class="katherine">Katherine</option>
									<option value="majestic" class="majestic">Majestic</option>
									<option value="monotype_corsiva" class="monotype_corsiva">Monotype Corsiva</option>
									<option value="romashulka" class="romashulka">Romashulka</option>
									<option value="rosa_marena" class="rosa_marena">Rosa Marena</option>
									<option value="segoe_print" class="segoe_print">Segoe Print</option>
									<option value="times_new_roman" class="times_new_roman">Times New Roman</option>
									<option value="trafaret" class="trafaret">Trafaret</option>
									<option value="verdana" class="verdana">Verdana</option>
									<option value="vivaldi" class="vivaldi">Vivaldi</option>
									<option value="xiomara" class="xiomara">Xiomara</option>
								</select>
							</div>
							<div class="color_tool"></div>
							<div class="font_style_tool">
								<%=  button_tag 'Ж', :type => 'button', :id => "font_weight", :class => "font_style_button" %>	
								<%=  button_tag 'К', :type => 'button', :id => "font_style", :class => "font_style_button" %>	
								<%=  button_tag 'Ч', :type => 'button', :id => "text_decoration", :class => "font_style_button" %>	
							</div>
						</div>
						
						<div id="canvas-wrapper"  class="canvas_panel">
							
							<div id="canvas_bg"></div>
							
							<canvas id="canvas"></canvas>
						
						</div>
	
						<div class="toolbar_bottom">
						
						</div>
	
					</div>
					<div class="sidebar_container">
						
						<section class="tabs">
							<input id="tab_1" type="radio" name="tab" checked="checked" />
							<input id="tab_2" type="radio" name="tab" />
							
							<label for="tab_1" id="tab_l1">Изображения</label>
							<label for="tab_2" id="tab_l2">Текст</label>
							<div style="clear:both"></div>
						
							<div class="tabs_cont">
								<div id="tab_c1">
									<%= render :partial => 'documents/envelope_print/emb_filelist', :locals => {:document => document} %>
								</div>
								<div id="tab_c2">
									<%=  button_tag image_tag('icons/plus_grey.png'), :type => 'button', :id => 'add_text', :class => "add_canvas_element", :title => 'Добавить текст' %>
		  							<table id="text_inputs_wrapper"> 
		  								
		  							</table>		
								</div>
							</div>
						</section>
						
					</div>
	
					<div class="fl_clear"></div>
				</div>
				
				<%=  button_tag 'Save', :type => 'button', :id => 'canvas_to_png' %>
				<div id="canvas_image">
					
				</div>
				
			    <div class="form_align">	 
			      <%= i.label :quantity %>     
			      <%=  button_tag ' ', :type => 'button', :class => 'decrease_quantity_large' %>
			      <%= i.text_field :quantity, :class => 'quantity_large' %>
			      <%=  button_tag ' ', :type => 'button', :class => 'increase_quantity_large' %>
			    </div>			
			</td>
		  <% end %>	
		</tr>
	</thead>
</table>