<tr>
  <td>
     <%= link_to 'Х', subsection_path(subsection), :method => :delete, :confirm => 'Все страницы этого подраздела также удалятся! Действительно хотите удалить?' %>
  </td>
  <% if subsection.controller == 'no' %>
    <td><%= link_to subsection.title, section_subsection_pages_path(subsection.section, subsection) %></td>
    <% else %>
    <td><%= link_to subsection.title, {:controller => subsection.controller, :action => subsection.action} %></td>
  <% end %>
  <td><%= subsection.order %></td>
  <td><%= subsection.controller %></td>
  <td><%= subsection.action %></td>
  <td><%= subsection.section.title %></td>
  <td><%= boolean_to_ru(subsection.published) %></td>
  <td><%= link_to 'Редактировать', edit_subsection_path(subsection) %></td>
</tr>