<h2>Редактирование подразделов сайта</h2>
  <p><%= link_to 'Создать подраздел', new_subsection_path, :class => 'button_style_long' %></p>
  <table class ="default_table">
    <tr class="header">
      <th></th>
      <th><%= Subsection.human_attribute_name("title") %></th>
      <th><%= Subsection.human_attribute_name("order") %></th>
      <th><%= Subsection.human_attribute_name("controller") %></th>
      <th><%= Subsection.human_attribute_name("action") %></th>
      <th><%= Subsection.human_attribute_name("section_id") %></th>
      <th><%= Subsection.human_attribute_name("published") %></th>
      <th></th>
    </tr>

    <%= render :partial => 'subsection', :collection => @subsections %>

  </table>
  
<%= link_to 'Назад', admin_users_path, :class => 'button_style' %>
