<%= error_messages_for :subsection %>
<h2>Создание нового подраздела</h2>
<div class="form_shape">
    <%= form_for(:subsection, :url => subsections_path) do |f| -%>

      <%= render :partial => 'form', :locals => {:f => f} %>

	    <div class="submit_area">
	      <%= submit_tag 'Сохранить', :class => 'submit' %>
	      <%= link_to 'Назад', admin_subsections_path, :class => 'button_style' %>
	    </div>
	<% end %>
</div>
