<div class="form_align">
	<%= f.label :width %>
	<%= f.text_field :width, :class => 'req_input'  %>
</div>

<div class="form_align">
	<%= f.label :length %>
	<%= f.text_field :length, :class => 'req_input'  %>
</div>

<div class="form_align">
	<%= f.label :size_iso_216 %>
	<%= f.text_field :size_iso_216  %>
</div>




