<h2>Размеры бумаги</h2>
<p><%= link_to 'Создать', new_admin_lists_paper_size_path, :class => 'button_style_long' %></p>
<table class="default_table">
  <tr class="header">
    <th></th>
    <th><%= Lists::PaperSize.human_attribute_name("width") %></th>
    <th><%= Lists::PaperSize.human_attribute_name("length") %></th>
    <th><%= Lists::PaperSize.human_attribute_name("size") %></th>
    <th><%= Lists::PaperSize.human_attribute_name("size_iso_216") %></th>
    <th></th>
  </tr>

  <%= render :partial => 'size' , :collection => @sizes %>

</table>
<%= link_to 'Назад', admin_settings_path, :class => 'button_style' %>
    
    
    