<div class="form_align">
	<%= f.label :margin_top %>
	<%= f.number_field :margin_top, :min => 0 %>
</div>

<div class="form_align">
	<%= f.label :margin_left %>
	<%= f.number_field :margin_left, :min => 0 %>
</div>

<div class="form_align">
	<%= f.label :width %>
	<%= f.number_field :width, :min => 1 %>
</div>

<div class="form_align">
	<%= f.label :height %>
	<%= f.number_field :height, :min => 1 %>
</div>



