<p>
  <%= User.human_attribute_name("current_password") %><br />
  <%= form.password_field :current_password,
                       :size => User::PASSWORD_SIZE,
                       :maxlength => User::PASSWORD_MAX_LENGTH %>
</p>

<p>
  <%= User.human_attribute_name("new_password") %><br />
  <%= form.password_field :password,
                       :size => User::PASSWORD_SIZE,
                       :maxlength => User::PASSWORD_MAX_LENGTH %>
</p>

<p>
  <%= User.human_attribute_name("password_confirmation") %><br />
  <%= form.password_field :password_confirmation,
                       :size => User::PASSWORD_SIZE,
                       :maxlength => User::PASSWORD_MAX_LENGTH %>
</p>