<div class="form_align">
  <%= form.label :current_password %>
  <%= form.password_field :current_password,
                          :size => User::PASSWORD_SIZE,
                          :maxlength => User::PASSWORD_MAX_LENGTH,
                          :class => 'req_input' %>
</div>

<div class="form_align">
  <%= form.label :new_password %>
  <%= form.password_field :password,
                          :size => User::PASSWORD_SIZE,
                          :maxlength => User::PASSWORD_MAX_LENGTH,
                          :class => 'req_input' %>
</div>

<div class="form_align">
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation,
                          :size => User::PASSWORD_SIZE,
                          :maxlength => User::PASSWORD_MAX_LENGTH,
                          :class => 'req_input' %>
</div>