<tr>
  <td><%= link_to 'X', user_path(user) , :confirm => 'Вы действительно хотите удалить пользователя?', :method => :delete %></td>
  <td><%=h (user.first_name) %></td>
  <td><%=h (user.second_name) %></td>
  <td><%=h (user.email) %></td>
  <td><%=h (user.phone) %></td>
  <td><%=h (Russian::strftime(user.created_at, "%d %B %Y")) %></td>
  <td> <%=h (user.role.name) %> </td>
  <td><%= link_to 'Редактировать', edit_user_path(user) %></td>
</tr>