<h1 class="orange">
  Администрирование системы
</h1>

	<div class="zero_level">
		<p>Контент сайта</p>
	</div>
	<div class="first_level">
	<%= link_to 'Разделы верхнего меню', admin_sections_path %><br/>
	<%= link_to 'Страницы', admin_pages_path %><br/>
	<%= link_to 'Статьи', admin_articles_path %><br/>
	<%= link_to 'Категории статей', admin_categories_path %><br/>
	<%= link_to 'Услуги',  admin_services_path%><br/>
	<%= link_to 'Подуслуги',  admin_subservices_path%><br/>
	</div>
	<div class="zero_level">
		<p>Доступ</p>
	</div>
	<div class="first_level">
	<%= link_to 'Пользователи', users_path %><br/>
	<%= link_to 'Роли', roles_path %><br/>
	<%= link_to 'Права', rights_path %><br/>	
	</div>
	
	<div class="zero_level">
		<p>Управление заказами</p>
	</div>
	<div class="first_level">
	<%= link_to 'Заказы',  admin_orders_path %><br/>
	<%= link_to 'Спецификации бумаг',  admin_lists_paper_specifications_path %><br/>
	</div>
	<div class="zero_level">
		<p>Справочники</p>
	</div>
	<div class="first_level">
		<%= link_to 'Cтатусы заказов',  lists_order_statuses_path %> <br />
		<%= link_to 'Классы бумаги',  lists_paper_grades_path %> <br />
		<%= link_to 'Типы бумаги',  lists_paper_types_path %> <br />
		<%= link_to 'Размеры бумаги',  lists_paper_sizes_path %><br />
		<%= link_to 'Поля и отступы',  lists_print_margins_path %><br />
		<%= link_to 'Цветность печати',  lists_print_colors_path %><br />
		<%= link_to 'Допечатные операции',  lists_pre_print_operations_path %><br />
		<%= link_to 'Переплет',  lists_bindings_path %>
		<p> Прайсы </p>
	</div>
	<div class="second_level">
		<%= link_to 'Прайс на сканирование',  admin_pricelist_scans_path %> <br />
		<%= link_to 'Прайс на доставку',  admin_pricelist_deliveries_path %> <br />

	</div>

	
	<div class="zero_level">
		<p>Письма</p>
	</div>
	<div class="first_level">
		<%= link_to 'Обратная связь от пользователей',  admin_letters_path%><br/>
		<%= link_to 'Рассылки',  admin_mailings_path%><br/>
	</div>

<br/><br/><br/><br/><br/>

