<h1 class="orange">Редактирование данных пользователя</h1>

<% @str_1 = "<div class=\"link_container_for_flash_link\" onclick= \"window.location = '/users/#{current_user.id}/edit_profile';\">" %>
<% @str_2 = "</div>" %>

<%= @str_1.html_safe %>
  <%= image_tag("users/edit_profile.png", :border => '0') %>
  <div class="flash_link_title">
    Профиль
  </div>
  <div class="flash_link_synopsis">
    Измените свои данные
  </div>
<%= @str_2.html_safe %>

<% @str_1 = "<div class=\"link_container_for_flash_link\" onclick= \"window.location = '/users/#{current_user.id}/edit_password';\">" %>
<% @str_2 = "</div>" %>

<%= @str_1.html_safe %>
  <%= image_tag("users/edit_password.png", :border => '0') %>
  <div class="flash_link_title">
    Пароль
  </div>
  <div class="flash_link_synopsis">
    Измените свой пароль
  </div>
<%= @str_2.html_safe %>

<table>
  <tr>
    <td>
      <%= link_to 'В личный кабинет', myoffice_path, :class =>"button_style_long" %>
    </td>
  </tr>
</table>
