<%= error_messages_for :user %>
<h1>Изменение Вашего профиля</h1>
<div class="form_shape">
  <%= form_for @user, :url => update_profile_user_path(@user), :html => {:method => :put, :id => 'edit_profile'} do |f| %>

    <%= hidden_field_tag "attribute", "email", :id => nil %>
    <%= render :partial => 'profile', :locals => {:form => f} %>
    <%  if @user != current_user %>
      <%= render :partial => 'edit_role', :locals => {:form => f} %>
    <%  end %>

    <div class="submit_area">
      <%= submit_tag 'Изменить данные', :class => 'submit' %>
      <%= render :partial => 'share/cancel', :locals => {:path => edit_user_path(@user)} %>
    </div>
  <% end %>
</div>

<p>
<%= link_to 'К списку пользователей >>', users_path if current_user.has_role?('Administrator') %>
</p>
