<%= error_messages_for :user %>
<h1>Изменение Вашего пароля</h1>
<div class="form_shape">
  <%= form_for @user, :url => update_password_user_path(@user), :html => {:method => :put, :id => 'edit_password'} do |f| %>

      <%= hidden_field_tag "attribute", "password", :id => nil %>
      <%= render :partial => 'update_password', :locals => {:form => f} %>

      <div class="submit_area">
        <%= submit_tag 'Изменить пароль', :class => 'submit' %>
        <%= link_to "Отмена", edit_user_path(@user), :class => "button_style" %>
      </div>
  <% end %>
</div>

<p>
<%= link_to 'К списку пользователей >>', users_path if current_user.has_role?('Administrator') %>
</p>
