<h2>
  Пользователи,
    <span>
      <%= link_to "показать админов",
          users_path(:role => 'Administrator'),
          :remote => true,
          :id => 'toggle' %>
    </span>
</h2>
<table id="admin" class ="default_table">
<tr class="header">
  <th></th>
  <th><%= User.human_attribute_name(:first_name) %></th>
  <th><%= User.human_attribute_name(:second_name) %></th>
  <th><%= User.human_attribute_name(:email) %></th>
  <th><%= User.human_attribute_name(:phone) %></th>
  <th><%= User.human_attribute_name(:created_at) %></th>
  <th><%= User.human_attribute_name(:role_id) %></th>
</tr>
<%= render :partial => 'user', :collection => @users  %>
</table>

<%= link_to 'Назад', admin_users_path, :class => 'button_style' %>

