<tr class="grey_on_hover">
  <td>
     <%= link_to 'Х', admin_subsection_path(subsection), :method => :delete, :confirm => 'Все страницы этого подраздела также удалятся! Действительно хотите удалить?' %>
  </td>
  <td><%= subsection.title %></td>
  <td><%= subsection.order %></td>
  <td><%= subsection.controller %></td>
  <td><%= subsection.action %></td>
  <td><%= subsection.section.title %></td>
  <td><%= boolean_to_ru(subsection.published) %></td>
  <td><%= link_to 'Редактировать', edit_admin_subsection_path(subsection) %></td>
</tr>