<%= error_messages_for :section %>
<h2>Редактирование подраздела</h2>
<div class="form_shape">
  <%= form_for(:subsection, :url => admin_subsection_path(@subsection), :html => {:method => :put}) do |f| -%>
    
    <%= render :partial => 'form', :locals => {:f => f} %>

		<div class="submit_area">
			<%= submit_tag 'Сохранить', :class => 'submit' %>
		</div> 
	<% end -%>
	<%= render :partial => 'share/cancel', :locals => {:path => admin_subsections_path}  %>

</div>
