<h2>Редактирование разделов сайта</h2>
  <p><%= link_to 'Создать раздел', new_section_path, :class => 'button_style_long' %></p>
  <table class ="admin">
    <tr>
      <th></th>
      <th><%= Section.human_attribute_name("title") %></th>
      <th><%= Section.human_attribute_name("order") %></th>
      <th><%= Section.human_attribute_name("controller") %></th>
      <th><%= Section.human_attribute_name("action") %></th>
      <th><%= Section.human_attribute_name("published") %></th>
      <th></th>
    </tr>

    <%= render :partial => 'section', :collection => @sections %>

  </table>
  
<%= link_to 'Назад', admin_users_path, :class => 'button_style' %>
