<div class="form_align">
  <%= f.label(:work_name) %>
  <%= f.text_field "work_name", :class => 'req_input'%>
</div>

<div class="form_align">
  <%= f.label(:work_desc) %>
  <%= f.text_field "work_desc", :class => 'req_input' %>
</div>

<div class="form_align">
  <%= f.label :price_min %>
  <%= f.text_field :price_min,
                   :class => 'req_input'%>
</div>

<div class="form_align">
  <%= f.label :price_max %>
  <%= f.text_field :price_max,
                   :class => 'req_input'%>
</div>
