<tr class="grey_on_hover">
  <td><%= line.work_desc %></td>
  <td><%= h (number_to_currency(line.price_min, :unit => "коп.", :separator => " руб. ")) %></td>
  <td><%= h (number_to_currency(line.price_max, :unit => "коп.", :separator => " руб. ")) %></td>
	<% if current_user && current_user.has_role?('Administrator') %>
  	  <td><%= line.work_name %></td>
	  <td><%= link_to 'Редактировать', edit_pricelist_scan_path(line) %></td>
	  <td><%= link_to 'Х', pricelist_scan_path(line), :method => :delete, :confirm => 'Действительно хотите удалить запись?' %></td>
	<% end %>
</tr>