<div id="cover_<%= format %>">
  <h2><%= title %></h2>

  <p class="cover"><span class="bold"><%= label(:order, :client, :class => 'bold') %>:</span>
  <%= order.user.first_name %> <%= order.user.second_name %></p>

  <p class="cover"> <span class="bold"><%= User.human_attribute_name("phone") %>:</span>
  <%= order.user.phone %> </p>

  <p class="cover"> <span class="bold"><%= Document.human_attribute_name("quantity") %>:</span>
  <%= documents_quantity %> </p>

  <p class="cover"> <span class="bold"><%= label(:order, :cost)%>:</span>
  <%=h (number_to_currency(order.cost, :unit => "коп.", :separator => " руб. ")) %></p>
  <br/>
  <% if format == 'c5' || format == 'c4'  %>
    <br/>
    <br/>
    <br/>
  <% end %>

  <h2> Информация о доставке </h2>
  <p class="cover"> <span class="bold"><%= label(:order, :delivery_street, :class => 'bold')%>:</span>
  <%= order.delivery_street %></p>

  <p class="cover"><span class="bold"><%= label(:order, :delivery_address, :class => 'bold')%>:</span>
  <%= order.delivery_address %></p>

  <p class="cover"> <span class="bold"><%= label(:order, :delivery_date, :class => 'bold')%>:</span>
  <%=h (Russian::strftime(order.delivery_date, "%d %B %Y года")) %>,
     <%= label(:order, :delivery_start_time) %>
     <%= h (Russian::strftime(order.delivery_start_time, "%R")) %>
     <%= label(:order, :delivery_end_time) %>
     <%= h (Russian::strftime(order.delivery_end_time, "%R")) %></p>


  <%=  image_tag('logo_sbold_black.png') %>
</div>
