  <table class="order_delivery" id="<%= current_order.id %>">
      <tr>
        <th><%=  order.label(:delivery_street) %></th>
        <th><%=  order.label(:delivery_address) %></th>
        <th>
            <%= label(:order, :delivery_date) %>
            <%= order.text_field :delivery_date, :id => "datepicker" %>
        </th>
        <th><%=  order.label(:delivery_price) %></th>
      </tr>
      <tr>
        <td class="delivery_street">
            <%= order.select :delivery_street,
                              Order::DELIVERY_STREET,
                              { :prompt => true } %>
        </td>
        <td class="delivery_address">
            <%= order.text_field :delivery_address%>
        </td>
        <td class="delivery_date">
          время
          <%= label(:order, :delivery_start_time) %>
          <%= order.text_field :delivery_start_time, :id => "timepicker_start" %>
          <%= label(:order, :delivery_end_time) %>
          <%= order.text_field :delivery_end_time, :id => "timepicker_end" %>
        </td>
        <td class="delivery_price">
          <%= h (number_to_currency(current_order.delivery_price, :unit => "коп.", :separator => " руб. ")) %>
        </td>
      </tr>
    </table>