 <table class="order_delivery">
    <%= render :partial => 'header_table_with_delivery', :locals => {:order => order} %>
    <tr>
      <td class="delivery_street">
        <%= order.delivery_street %>
      </td>
      <td class="delivery_address">
        <%= order.delivery_address %>
      </td>
      <td class="delivery_date">
         время <%= render :partial => 'delivery_period', :locals => {:order => order} %>
      </td>
      <td class="delivery_price">
        <%= h (number_to_currency(order.delivery_price, :unit => "коп.", :separator => " руб. ")) %>
      </td>
    </tr>
  </table>