<div class="header_container">
  <div class="upload_header">
    <%= Document.human_attribute_name(:docfile) %>
  </div>
  <div class="print_format_header">
    <%= Document.human_attribute_name(:print_format) %>
  </div>
  <div class="paper_type_header">
    <%= Document.human_attribute_name(:paper_type) %>
  </div>
  <div class="quantity_header">
    <%= Document.human_attribute_name(:quantity) %>
  </div>
  <div class="margins_header">
    <%= Document.human_attribute_name(:margins) %>
  </div>
  <div class="user_comment_header">
    <%= Document.human_attribute_name(:user_comment) %>
  </div>
</div>
<div class="clearfix"></div>


