<tr>
  <td><%=h (order.id) %></td>
  <td><%= order.user.first_name %> <%= order.user.second_name %> <br /> <%= order.user.email %> <br /> <%= order.user.phone %> </td>
  <td>
  	<% if order.delivery_date != nil %>
	  	<%=h (Russian::strftime(order.delivery_date, "%d %B %Y года")) %> <br />
	  	<%= render :partial => 'delivery_period', :locals => {:order => order} %>
	<% end %>
  </td>	
  <td><%=h (order.delivery_street) %></td>
  <td><%=h (order.order_status.title) %></td>
  <td><%=h (read_cost_min_max(order)) %></td>
  <td><%=h (read_cost(order)) %></td>
  <td><%=h (order.order_type) %></td>
  <td><%= link_to image_tag("icons/materials.png", :border => "0"), get_materials_order_path(order), target: "_blank" %></td>
  <td><%= link_to image_tag("icons/edit_order.png", :border => "0"), edit_order_path(order), :alt => 'редактировать' %></td>
  <td>
    <%= link_to 'C6', cover_order_path(order, :format => 'c6'), :target => "_blank", :title => '10x15 до 20ти шт.' %>
    <%= link_to 'C5', cover_order_path(order, :format => 'c5'), :target => "_blank", :title => '10x15 более 20ти шт.'  %>
    <%= link_to 'C4', cover_order_path(order, :format => 'c4'), :target => "_blank", :title => 'A4'  %>
  </td>
</tr>
