<tr class="document" id="document_<%= show_document.id %>">
    <td class="upload">
      <%= image_tag show_document.docfile.thumb.url %>
    </td>
    <td class="print_format">
      <p class="center">
        <%= show_document.print_format %>
      </p>
    </td>
    <td class="paper_type">
      <p class="center">
        <%= show_document.paper_type %>
      </p>
    </td>
    <td class="quantity">
      <p class="center">
        <%= show_document.quantity %>
      </p>
    </td>
    <td class="margins">
      <p class="center">
        <%= show_document.margins %>
      </p>
    </td>
    <td class="user_comment">
      <%= show_document.user_comment %>
    </td>
    <td class="document_price ">
      <%= h (number_to_currency(show_document.price, :unit => "коп.", :separator => " руб. ")) %>
    </td>
</tr>
