<h2>Управление заказами</h2>
<table class ="admin">
  <tr>
    <th><%= Order.human_attribute_name(:id) %></th>
    <th><%= Order.human_attribute_name(:client) %></th>
    <th><%= Order.human_attribute_name(:created_at) %></th>
    <th><%= Order.human_attribute_name(:delivery_street) %></th>
    <th><%= Order.human_attribute_name(:delivery_address) %></th>
    <th><%= Order.human_attribute_name(:delivery_comment) %></th>
    <th><%= Order.human_attribute_name(:status) %></th>
    <th><%= Order.human_attribute_name(:cost) %></th>
    <th><%= Order.human_attribute_name(:details) %></th>
    <th></th>
    <th></th>
  </tr>

  <%= render :partial => 'order_for_admin', :collection => @orders %>

</table>
  <%= will_paginate @orders %>
