<h2>Управление заказами</h2>
<h3>Быстрый поиск</h3>
<%= search_form_for @search, :url => admin_orders_path, :class => 'grey_color' do |f| %>
  <div class="field">
    <%= f.label :id_eq, "#{Order.human_attribute_name(:id)} заказа:" %> 
    <%= f.text_field :id_eq %>
  </div>
  <div class="field">
    <%= f.label :order_status_title_cont, "#{Lists::OrderStatus.human_attribute_name(:title)} статуса содержит:" %> 
    <%= f.text_field :order_status_title_cont %>
  </div>
  <div class="field">
    <%= f.label :created_at_gteq, "#{Order.human_attribute_name(:created_at)} от:" %>
    <%= f.text_field :created_at_gteq, :id => "date_from" %>
    <%= f.label :created_at_lteq, "до" %>
    <%= f.text_field :created_at_lteq, :id => "date_to" %>    
  </div>
  <div class="field">
    <%= f.label :delivery_date_gteq, "#{Order.human_attribute_name(:delivery_date)} от:" %>
    <%= f.text_field :delivery_date_gteq, :id => "date_from_2" %>
    <%= f.label :delivery_date_lteq, "до" %>
    <%= f.text_field :delivery_date_lteq, :id => "date_to_2" %>    
  </div>
  
  <div class="actions"><%= f.submit "Искать" %></div>
<% end %>
<h3>Настраиваемый поиск</h3>
<%= search_form_for @search, :url => admin_orders_path, :class => 'grey_color' do |f| %>
	  <%= f.condition_fields do |c| %>
	    <%= render "condition_fields", f: c %>
	  <% end %> 
  <p><%= link_to_add_fields "Добавить условие", f, :condition %>
  <div class="actions"><%= f.submit "Искать" %></div>
<% end %>

<br />

<table class ="admin">
  <tr>
    <th><%= sort_link(@search, :id, Order.human_attribute_name(:id)) %></th>
    <th><%= Order.human_attribute_name(:client) %></th>
    <th><%= sort_link(@search, :delivery_date ,Order.human_attribute_name(:delivery_date)) %></th>
    <th><%= Order.human_attribute_name(:delivery_street) %></th>
    <th><%= Order.human_attribute_name(:order_status_id) %></th>
    <th><%= Order.human_attribute_name(:cost_min_max_name) %></th>
    <th><%= Order.human_attribute_name(:cost) %></th>
    <th><%= Order.human_attribute_name(:order_type) %></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render :partial => 'order', :collection => @orders %>

</table>
  
<%= link_to 'Назад', admin_users_path, :class => 'button_style' %>


