<h2>Управление заказами</h2>

<p>Фильтры по статусу:
      <% Order::STATUS.each do |status| %>
      		<%= link_to status,
        	admin_orders_path(:status => status),
        	:remote => true,
        	:id => "toggle_#{status.parameterize}" %>,
      <% end %>	
</p>
<table class ="admin">
  <tr>
    <th><%= Order.human_attribute_name(:id) %></th>
    <th><%= Order.human_attribute_name(:client) %></th>
    <th><%= Order.human_attribute_name(:delivery_date) %></th>
    <th><%= Order.human_attribute_name(:delivery_street) %></th>
    <th><%= Order.human_attribute_name(:delivery_address) %></th>
    <th><%= Order.human_attribute_name(:status) %></th>
    <th><%= Order.human_attribute_name(:cost) %></th>
    <th><%= Order.human_attribute_name(:details) %></th>
    <th></th>
    <th></th>
  </tr>

  <%= render :partial => 'order', :collection => @orders %>

</table>
  
<%= link_to 'Назад', admin_users_path, :class => 'button_style' %>

