<h2><%= @title %></h2>
<h2 class="orange">Загрузите Ваши файлы</h2>

<% key = Rails.application.config.session_options[:key] %>

<%= content_for :scripts do %>
  <script type="text/javascript">
    var upload_params = {
      '<%= key %>' : '<%= cookies[key] %>',
      '<%= request_forgery_protection_token %>' : '<%= form_authenticity_token %>',
      '_http_accept': 'application/javascript'
    };

    var url = $('input#document_docfile').attr('rel');

    $('input#document_docfile').uploadify({
      uploader : '/assets/uploadify/uploadify.swf',
      buttonImg : '/assets/uploadify/upload_button.png',
      script : url,
      fileDataName : 'document[docfile]',
      fileDesc : 'Images (.png, .jpg, .jpeg)',
      fileExt : '*.png;*.jpg;*.jpeg;*.JPG',
      sizeLimit : 10240000, //10MB
      cancelImg : '/assets/uploadify/cancel.png',
      multi : true,
      scriptData : upload_params,
      auto : true,
      onComplete : function(e, id, obj, response, data) {
        $('#fileList').append(response);
       },
      onAllComplete : function(){
        var status = $("#fileList_header").attr("style"),
            order_id = $("form.edit_order").attr("id"),
            url_for_update_order = "/order/ajaxupdate";

        if (status == 'display: none;') {
          $("#fileList_header").fadeIn("slow");
        }

        //подключение хендлеров по управлению ценой
        $("select[name*='print_format']:not([class='with_priceEventHandler'])").addClass("with_priceEventHandler").bind('change', function(event){
          var selected_print_format = $(this).val(),
              document_id = this.parentNode.parentNode.id;
              url = "/document/ajaxupdate";
          $.post( url, {id: document_id, print_format: selected_print_format} );
          $.post( url_for_update_order, {id: order_id} );
        });

        $("select[name*='paper_type']:not([class='with_priceEventHandler'])").addClass("with_priceEventHandler").bind('change', function(event){
          var selected_paper_type = $(this).val(),
              document_id = this.parentNode.parentNode.id;
              url = "/document/ajaxupdate";
          $.post( url, {id: document_id, paper_type: selected_paper_type} );
          $.post( url_for_update_order, {id: order_id} );
        });

        $("input[name*='quantity']:not([class='with_priceEventHandler'])").addClass("with_priceEventHandler").bind('change', function(event){
          var selected_quantity = $(this).val(),
              document_id = this.parentNode.parentNode.id;
              url = "/document/ajaxupdate";
          selected_quantity = validate(parseInt(selected_quantity));
          $(this).val(selected_quantity);
          $.post( url, {id: document_id, quantity: selected_quantity} );
          $.post( url_for_update_order, {id: order_id} );
        });

        //обновление цены после удаления одного документа
        $("a.link_delete_docfile:not([handler-status='with_priceEventHandler'])").attr('handler-status', 'with_priceEventHandler').bind('click', function(event){
          setTimeout(function(){$.post( url_for_update_order, {id: order_id} )}, 1000);
        });

        //работа переключателя количества файлов
        $("button.increase:not([class*='with_priceEventHandler'])").addClass("with_priceEventHandler").bind('click', function(event){
          var selected_input_quantity = $(this).siblings("input[id*='quantity']");
          new_value = parseInt(selected_input_quantity.val()) + 1 ;
          new_value = validate(new_value);
          selected_input_quantity.val(new_value);
          selected_input_quantity.change();
        });
        $("button.decrease:not([class*='with_priceEventHandler'])").addClass("with_priceEventHandler").bind('click', function(event){
          var selected_input_quantity = $(this).siblings("input[id*='quantity']");
          new_value = parseInt(selected_input_quantity.val()) - 1 ;
          new_value = validate(new_value);
          selected_input_quantity.val(new_value);
          selected_input_quantity.change();
        });

        //обновление всех цен при загрузке новых доков
        $.post( url_for_update_order, {id: order_id} );
        
        //проверка значения количества файлов для печати
        function validate(value){
          if (value < 1 || isNaN(value) == true) {
            value = 1;
          } else if (value > 100) {
            value = 100;
          }
          return value
        };

      }
    });
  </script>
<% end %>

<%#*кнопка выбора файлов%>
<% unless @order.new_record? %>
  <%= fields_for Document.new do |f| %>
    <%= f.file_field :docfile, :rel => order_documents_path(@order) %>
  <% end %>
<% end %>

<%= form_for @order, :url => order_path(@order), :html => { :method => :put, :id => @order.id} do |order| -%>

  <%#*перечень всех файлов с параметрами печати%>
  <table id="fileList">
    <tr id="fileList_header"
      <% if @order.documents.count > 0 %>
        >
      <% else %>
        style="display: none;">
      <% end %>
    <%= render :partial=>'header_table_with_documents' %>
    </tr>
    <%= render :partial => 'documents/document', :collection => @order.documents %>
  </table>

  <h2 class="orange">Укажите адрес и время доставки</h2>
  <table class="order_delivery" id="<%= @order.id %>">
      <tr>
        <th><%=  order.label(:delivery_street) %></th>
        <th><%=  order.label(:delivery_address) %></th>
        <th><%=  order.label(:delivery_comment) %></th>
        <th><%=  order.label(:delivery_price) %></th>
      </tr>
      <tr>
        <td class="delivery_street">
            <%= order.select :delivery_street,
                              Order::DELIVERY_STREET,
                              { :prompt => true } %>
        </td>
        <td class="delivery_address">
            <%= order.text_field :delivery_address %>
        </td>
        <td class="delivery_comment">
            <%= order.text_area :delivery_comment,
                            :rows => Order::DELIVERY_COMMENT_ROWS_SIZE,
                            :cols => Order::DELIVERY_COMMENT_COLS_SIZE %>
        </td>
        <td class="delivery_price">
          <%= h (number_to_currency(@order.delivery_price, :unit => "коп.", :separator => " руб. ")) %>
        </td>
      </tr>
    </table>
  <div class="total_cost_order">
    <%= h (number_to_currency(@order.cost, :unit => "коп.", :separator => " руб. ")) %>
  </div>
  <div class="total_cost_order_label">
    Итого:
  </div>
  <div class="fl_clear"></div>

  <div class="submit_area">
   <%= submit_tag 'Оформить заказ', :class => 'submit'  %>
   <%= link_to 'Отмена', order_path(@order), :method => :delete, :class =>"button_style", :confirm => 'Действительно хотите отменить заказ?'%>
  </div>
<% end -%>
 