<h2 class="orange">Здравствуйте, <%= current_user.first_name %> <%= current_user.second_name %>!</h2>
<p>Вы находитесь в личном кабинете. Здесь Вы можете создавать новые заказы и просматривать информацию о ранее созданных заказах. </p>

<% @str_1 = "<div class=\"link_container_for_flash_link\" onclick= \"window.location = '/orders/new?order_type=foto_print';\">" %>
<% @str_2 = "</div>" %>

<%= @str_1.html_safe %>
  <%= image_tag("orders/add_foto_print.png", :border => '0') %>
  <div class="flash_link_title">
    Распечатать фото
  </div>
  <div class="flash_link_synopsis">
    Создайте новый заказ на печать Ваших фотографий.
    Принимаем файлы: .png, .jpg.
  </div> 
<%= @str_2.html_safe %>

<% @str_3 = "<div class=\"link_container_for_flash_link\" onclick= \"window.location = '/orders/new?order_type=doc_print';\">" %>
<% @str_4 = "</div>" %>
<%= @str_3.html_safe %>
  <%= image_tag("orders/add_doc_print.png", :border => '0') %>
  <div class="flash_link_title">
    Распечатать документы
  </div>
  <div class="flash_link_synopsis">
    Создайте новый заказ на печать Ваших документов. 
	Принимаем файлы: .doc, .docx, .pdf, .ppt, .pptx.
  </div>
<%= @str_4.html_safe %>

<% @str_5 = "<div class=\"link_container_for_flash_link\" onclick= \"window.location = '/orders/new?order_type=scan';\">" %>
<% @str_6 = "</div>" %>

<%= @str_5.html_safe %>
  <%= image_tag("orders/add_scan.png", :border => '0') %>
  <div class="flash_link_title">
    Отсканировать
  </div>
  <div class="flash_link_synopsis">
    Создайте новый заказ на сканирование Ваших фотографий или документов
  </div>
<%= @str_6.html_safe %>

<% @str_7 = "<div class=\"link_container_for_flash_link\" onclick= \"window.location = '/orders/my';\">" %>
<% @str_8 = "</div>" %>

<%= @str_7.html_safe %>
  <%= image_tag("orders/my_orders.png", :border => '0') %>
  <div class="flash_link_title">
    Мои заказы
  </div>
  <div class="flash_link_synopsis">
    Посмотрите текущий статус Ваших заказов
  </div>
<%= @str_8.html_safe %>