<table>
  <tr>
    <td>
      <%= link_to 'В личный кабинет', myoffice_path, :class =>"button_style_long" %>
    </td>
  </tr>
</table>
<h2 class="orange">Мои заказы</h2>

  <div id="slide_img_pag" class="orders_pagination" ></div>
  
  <div id="slide_orders">
    <div id="slide_1">
		<% if @foto_print_orders.count > 0 %>
		  <table class ="user_order">
		    <tr>
		      <th><%= Order.human_attribute_name(:id) %></th>
		      <th><%= Order.human_attribute_name(:created_at) %></th>
		      <th><%= Order.human_attribute_name(:order_status_id) %></th>
		      <th><%= Order.human_attribute_name(:cost) %></th>
		      <th><%= Order.human_attribute_name(:manager_comment) %></th>
		      <th><%= Order.human_attribute_name(:details) %></th>
		    </tr>
		    <%= render :partial => 'orders/foto_print/order_for_user', :collection => @foto_print_orders  %>
		  </table>
		  <div class="paginator">
			<%= paginate @foto_print_orders, :param_name => :foto_print_orders_page %>
		  </div>
		<% else %>
		  <%= render :partial => 'no_orders', :locals => {:href => '/orders/new?order_type=foto_print'}  %>
		<% end %>
    </div>

    <div id="slide_2">
		<% if @doc_print_orders.count > 0 %>
		  <table class ="user_order">
		    <tr>
		      <th><%= Order.human_attribute_name(:id) %></th>
		      <th><%= Order.human_attribute_name(:created_at) %></th>
		      <th><%= Order.human_attribute_name(:order_status_id) %></th>
		      <th><%= Order.human_attribute_name(:cost) %></th>
		      <th><%= Order.human_attribute_name(:manager_comment) %></th>
		      <th><%= Order.human_attribute_name(:details) %></th>
		    </tr>
		    <%= render :partial => 'orders/doc_print/order_for_user', :collection => @doc_print_orders  %>
		  </table>
		  <div class="paginator">
			<%= paginate @doc_print_orders, :param_name => :doc_print_orders_page  %>
		  </div>
		<% else %>
		  <%= render :partial => 'no_orders', :locals => {:href => '/orders/new?order_type=doc_print'}  %>
		<% end %>
    </div>
    
    <div id="slide_3">
		<% if @scan_orders.count > 0 %>
		  <table class ="user_order">
		    <tr>
		      <th><%= Order.human_attribute_name(:id) %></th>
		      <th><%= Order.human_attribute_name(:created_at) %></th>
		      <th><%= Order.human_attribute_name(:order_status_id) %></th>
		      <th><%= Order.human_attribute_name(:cost_min_max_name) %></th>
		      <th><%= Order.human_attribute_name(:cost) %></th>
		      <th><%= Order.human_attribute_name(:manager_comment) %></th>
		      <th><%= Order.human_attribute_name(:details) %></th>
		    </tr>
		    <%= render :partial => 'orders/scan/order_for_user', :collection => @scan_orders  %>
		  </table>
		  <div class="paginator">
			<%= paginate @scan_orders, :param_name => :scan_orders_page %>
		  </div>
		<% else %>
		  <%= render :partial => 'no_orders', :locals => {:href => '/orders/new?order_type=scan'} %>
		<% end %>
    </div>
  </div>
  <div class="fl_clear"></div>

<table>
  <tr>
    <td>
      <%= link_to 'В личный кабинет', myoffice_path, :class =>"button_style_long" %>
    </td>
  </tr>
</table>
