<table>
  <tr>
    <td>
      <%= link_to 'В личный кабинет', myoffice_path, :class =>"button_style_long" %>
    </td>
  </tr>
</table>
<h2 class="orange">Мои заказы</h2>
<% if @orders.count > 0 %>
  <table class ="user_order">
    <tr>
      <th><%= Order.human_attribute_name(:id) %></th>
      <th><%= Order.human_attribute_name(:created_at) %></th>
      <th><%= Order.human_attribute_name(:status) %></th>
      <th><%= Order.human_attribute_name(:cost) %></th>
      <th><%= Order.human_attribute_name(:manager_comment) %></th>
      <th><%= Order.human_attribute_name(:details) %></th>
    </tr>
    <%= render :partial => 'order_for_user', :collection => @orders  %>
  </table>
<% else %>
  <%= render 'no_orders' %>
<% end %>

<%= will_paginate @orders %>

<br />
<table>
  <tr>
    <td>
      <%= link_to 'В личный кабинет', myoffice_path, :class =>"button_style_long" %>
    </td>
  </tr>
</table>
