<%= error_messages_for :order %>
<h2 class="orange">Какие файлы можно загружать?</h2>
  <%= render :partial => 'pages/show_page', :locals => {:page => page_about_download} %>
<h2 class="orange">Загрузите Ваши файлы</h2>
  <%= form_for @order, :url => orders_path, :html => { :multipart => true } do |order| -%>
    <%= render 'header_table_with_documents' %>
  <div id="container_for_upload">
    <%= create_form_for_upload %>
  </div>
    <p>
      <!-- ссылка, генерирующая еще одно поле ввода !-->
       <%= link_to image_tag("icons/Add.png", :border => '0'), new_order_path, remote: true, :class =>"link_for_upload_file", :id => "link_for_upload_file" %>
       <%= link_to image_tag("icons/remove.png", :border => '0'), remove_orders_path, remote: true, :class =>"link_for_upload_file", :id => "link_for_upload_file" %>
    <div class="clearfix"></div>
    </p>
<h2 class="orange">Введите адрес доставки вашего заказа</h2>
  <table class="user_delivery">
    <tr>
      <th><%=  order.label(:delivery_street) %></th>
      <th><%=  order.label(:delivery_address) %></th>
      <th><%=  order.label(:delivery_comment) %></th>
    </tr>
    <tr>
      <td>
        <div class="form_align_order_delivery_street">
          <%= order.select :delivery_street,
                            Order::DELIVERY_STREET %>
        </div>
      </td>
      <td>
        <div class="form_align_order_delivery_address">
          <%= order.text_field :delivery_address %>
        </div>
      </td>
      <td>
        <div class="form_align_order_delivery_comment">
          <%= order.text_area :delivery_comment,
                          :rows => Order::DELIVERY_COMMENT_ROWS_SIZE,
                          :cols => Order::DELIVERY_COMMENT_COLS_SIZE %>
        </div>
        </td>
    </tr>

  </table>
    <div class="submit_area">
     <%= submit_tag 'Оформить заказ', :class => 'submit'  %>
     <%= link_to 'Отмена', myoffice_path, :class =>"button_style", :confirm => 'Действительно хотите отменить заказ?'%>
      </div>
  <% end -%>


