<%#= javascript_include_tag "jquery.damnUploader" %>
<%#= javascript_include_tag "interface" %>

<%= javascript_include_tag "new_uploader" %>

<h2 class="orange">Загрузите Ваши файлы</h2>
  <%= form_for @order, :url => orders_path, :html => { :multipart => true } do |order| -%>

  <input type="file" id="fileElem" multiple accept="image/*" style="display:none" onchange="handleFiles(this.files)">
  <a href="#" id="fileSelect">Выберите файлы</a>
  <div id="fileList">

  </div>

<h2 class="orange">Введите адрес доставки вашего заказа</h2>
  <table class="user_delivery">
    <tr>
      <th><%=  order.label(:delivery_street) %></th>
      <th><%=  order.label(:delivery_address) %></th>
      <th><%=  order.label(:delivery_comment) %></th>
    </tr>
    <tr>
      <td>
        <div class="form_align_order_delivery_street">
          <%= order.select :delivery_street,
                            Order::DELIVERY_STREET %>
        </div>
      </td>
      <td>
        <div class="form_align_order_delivery_address">
          <%= order.text_field :delivery_address %>
        </div>
      </td>
      <td>
        <div class="form_align_order_delivery_comment">
          <%= order.text_area :delivery_comment,
                          :rows => Order::DELIVERY_COMMENT_ROWS_SIZE,
                          :cols => Order::DELIVERY_COMMENT_COLS_SIZE %>
        </div>
        </td>
    </tr>

  </table>
    <div class="submit_area">
     <%= submit_tag 'Оформить заказ', :class => 'submit'  %>
     <%= link_to 'Отмена', myoffice_path, :class =>"button_style", :confirm => 'Действительно хотите отменить заказ?'%>
      </div>
  <% end -%>
