<tr>
  <td><%= link_to 'Х', page_path(page), :method => :delete, :confirm => 'Действительно удалить страницу?' %> </td>
  <td><%= page.title %> </td>
  <td><%= link_to page.permalink, page_path(page)%></td>
  <td><%= Russian::strftime(page.created_at, "%d %B %Y") %> </td>

  <% if page.published == true %>
      <td>Да</td>
      <% else %>
      <td>Нет</td>
  <% end %>

  <% if page.section_id %>
    <td><%= page.section.title %></td>
    <% else %>
    <td>Нет</td>
  <% end %>

  <% if page.service_id %>
    <td><%= page.service.title %></td>
    <% else %>
    <td>Нет</td>
  <% end %>

  <% if page.subservice_id %>
    <td><%= page.subservice.title %></td>
    <% else %>
    <td>Нет</td>
  <% end %>

  <td><%= link_to 'Редактировать', edit_page_path(page) %></td>
</tr>