<% content_for :head do %>
	<%= javascript_include_tag "ckeditor/init" %>
<% end %>
<%= error_messages_for :page %>
<h2>Создание новой страницы</h2>
<%= form_for :page, :url => pages_path, :html => { :method => :post } do |f| -%>

  <%= render :partial => 'form_for_user_pages', :locals => {:f => f} %>

  <%= submit_tag 'Сохранить' %> или <%= link_to 'Вернуться', admin_pages_path %>
<% end -%>
