<tr class="document" id="document_<%= document.id %>">
  <%= fields_for "order[documents_attributes][]", document do |i| %>
    <td class="upload">
      <div id="container_for_link_delete_docfile">
        <%= link_to image_tag("icons/del-3.png"), order_document_path(@order, document), :method => :delete, :remote => :true, :id => 'link_delete_docfile' %>
        <%= image_tag document.docfile.thumb.url %>
      </div>
    </td>
    <td class="print_format">
      <%= i.select(:print_format, Document::PRINT_FORMAT) %>
    </td>
    <td class="paper_type">
      <%= i.select(:paper_type, Document::PAPER_TYPE) %>
    </td>
    <td class="quantity">
      <%= i.text_field(:quantity, :value => '1') %>
    </td>
    <td class="margins">
      <%= i.select(:margins, Document::MARGINS) %>
    </td>
    <td class="user_comment">
      <%= i.text_area :user_comment %>
    </td>
  <% end %>
</tr>