<tr>
  <td><%= link_to 'Х', letter_path(letter_for_admin), :method => :delete, :confirm => 'Действительно хотите удалить запись?' %></td>
  <td><%= letter_for_admin.name %></td>
  <td><%= letter_for_admin.company %></td>
  <td><%= Russian::strftime(letter_for_admin.created_at, "%d %B %Y") %></td>
  <td><%= link_to 'Смотреть', letter_path(letter_for_admin) %></td>
</tr>