<%= error_messages_for :letter %>
<p> Если у Вас возникли какие-либо вопросы, пожалуйста, напишите нам письмо, заполнив форму ниже. </p>
<div class="form_shape">
  <%= form_for :letter, :url => letters_path, :html => { :method => :post } do |f| -%>

    <div class="form_align">
      <%= f.label(:name) %>
      <%= f.text_field :name,
                       :maxlength =>Letter::NAME_MAX_LENGTH,
                       :class => 'req_input' %>
    </div>


    <div class="form_align">
        <%= f.label(:phone) %>
        <%= f.text_field :phone,
                         :maxlength =>Letter::PHONE_MAX_LENGTH,
                         :class => 'req_input' %>
    </div>

    <div class="form_align">
      <%= f.label(:email) %>
      <%= f.text_field :email,
                       :maxlength =>Letter::EMAIL_MAX_LENGTH,
                       :class => 'req_input' %>
    </div>

    <div class="form_align">
      <%= f.label(:question) %>
      <%= f.text_area :question,
                      :class => 'req_textarea' %>
    </div>

  <div class="submit_area">
    <%= submit_tag 'Отправить', :class => 'submit' %>
  </div>
  

  <% end -%>
</div>