<h2>Письмо клиента</h2>
<p>
  <span class="bold"><%= Letter.human_attribute_name("name") %>:</span> <%= @letter.name %><br />
  <span class="bold"><%= Letter.human_attribute_name("email") %>:</span> <%= @letter.email %><br />
  <span class="bold"><%= Letter.human_attribute_name("question") %>:</span> <%= @letter.question %><br />
</p>

<%= link_to 'Назад', :back %>
