	  <%#*перечень всех файлов с параметрами печати%>
	  <table id="fileList" class="default_table">
	  	<thead>
		    <tr id="fileList_header" class="header documents"
		      <% if order.documents.count > 0 %>
		        >
		      <% else %>
		        style="display: none;">
		      <% end %>
		    <%= render :partial=>'orders/doc_print/header_table_with_documents' %>
		    </tr>
	    </thead>
	    <%= render :partial => 'documents/doc_print/document', :collection => order.documents %>
	  </table>

    <%= render :partial => 'orders/share/progress_panel' %>

	  <%#*кнопка выбора файлов%>
	  <% unless order.new_record? %>
		<%= fields_for Document.new do |f| %>
		  <%= f.file_field :docfile, :rel => order_documents_path(order) %>
		<% end %>
	  <% end %>
	  <%= hidden_field_tag 'quantity_documents_for_validate' %>