<% content_for :head do %>
	<%= javascript_include_tag "orders/deliveryfn" %>
	<%= javascript_include_tag "orders/uploadfn" %>
	<%= javascript_include_tag "orders/doc_print_order" %>
<% end %>
<h2><%= @title %></h2>

<% key = Rails.application.config.session_options[:key] %>

<%= content_for :scripts do %>
  <script type="text/javascript">
    var upload_params = {
      '<%= key %>' : '<%= cookies[key] %>',
      '<%= request_forgery_protection_token %>' : '<%= form_authenticity_token %>',
      '_http_accept': 'application/javascript'
    },
    uploader = '<%= asset_path('uploadify/uploadify.swf') %>',
    buttonImg = '<%= asset_path('uploadify/upload_button.png') %>',
    cancelImg = '<%= asset_path('uploadify/cancel.png') %>';

  </script>
<% end %>

<%= form_for @order, :url => order_path(@order), :html => { :method => :put, :id => @order.id, :class => "admin_doc_print_order"} do |order| -%>

  <h2 class="orange">Загруженные файлы</h2>

  <%= render :partial => 'orders/doc_print/filelist', :locals => {:order => @order} %>	
  <%= render :partial => 'orders/share/total_and_submit', :locals => {:order => order, :current_order => @order}  %>	

<% end -%>
  <%= render :partial => 'orders/share/cancel', :locals => {:current_order => @order}  %>	
