<h2><%= @title %></h2>
<p><%= link_to 'Создать', new_lists_delivery_town_path, :class => 'button_style_long' %></p>
<table class="admin">
  <tr>
    <th></th>
    <th><%= Lists::DeliveryTown.human_attribute_name("title") %></th>
	<th><%= Lists::DeliveryTown.human_attribute_name("delivery_zone_id") %></th>
    <th></th>
  </tr>

  <%= render :partial => 'delivery_town' , :collection => @delivery_towns %>

</table>
<%= link_to 'Назад', admin_users_path, :class => 'button_style' %>
    
    
    