<h1><%= @title %></h1>
<%= error_messages_for :delivery_town %>
<%= form_for :delivery_town , :url => lists_delivery_towns_path do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
	<div class="submit_area">
		<%= submit_tag 'Сохранить', :class => 'submit' %>
	</div> 
<% end -%>
<%= render :partial => 'share/cancel', :locals => {:path => lists_delivery_towns_path}  %>


 
