<h2>Cтатусы заказов</h2>
<p><%= link_to 'Создать', new_admin_lists_order_status_path, :class => 'button_style_long' %></p>
<table class="default_table">
  <tr class="header">
    <th></th>
    <th><%= Lists::OrderStatus.human_attribute_name("title") %></th>
    <th><%= Lists::OrderStatus.human_attribute_name("key") %></th>
    <th></th>
  </tr>

  <%= render :partial => 'status' , :collection => @statuses %>

</table>
<%= link_to 'Назад', admin_settings_path, :class => 'button_style' %>
    
    
    