<h2><%= @title %></h2>
<p><%= link_to 'Создать', new_lists_delivery_zone_path, :class => 'button_style_long' %></p>
<table class="admin">
  <tr>
    <th></th>
    <th><%= Lists::DeliveryZone.human_attribute_name("title") %></th>
    <th><%= Lists::DeliveryZone.human_attribute_name("streets") %></th>
    <th><%= Lists::DeliveryZone.human_attribute_name("price") %></th>
    <th></th>
  </tr>

  <%= render :partial => 'delivery_zone' , :collection => @delivery_zones %>

</table>
<%= link_to 'Назад', admin_users_path, :class => 'button_style' %>
    
    
    