<h1><%= @title %></h1>
<div class="form_shape">
	<%= form_for :delivery_zone, :url => lists_delivery_zones_path do |f| %>
	  <%= f.error_messages %>
	  <%= render :partial => 'form', :locals => {:f => f} %>
	<div class="submit_area">
		<%= submit_tag 'Сохранить', :class => 'submit' %>
	</div> 
<% end -%>
<%= render :partial => 'share/cancel', :locals => {:path => lists_delivery_zones_path}  %>

</div>
 
