<div class="form_align">
	<%= f.label :name %>
	<%= f.text_field :name  %>
</div>

<div class="form_align">
	<%= f.label :controller %>
	<%= f.text_field :controller %>
</div>

<div class="form_align">
	<%= f.label :action %>
	<%= f.text_field :action %>
</div>

<div class="form_align">
	<%= f.label :description %>
	<%= f.text_field :description %>
</div>



