<%= error_messages_for 'right' %>
<h1>Создание права</h1>
<div class="form_shape">
	<%= form_for :right, :url => rights_path, :html => {:id => 'new_right'} do |f| %>
	  <%= render :partial => 'form', :locals => {:f => f} %>
	  
		<div class="submit_area">
			<%= submit_tag 'Сохранить', :class => 'submit' %>
		</div> 
	<% end -%>
	<%= render :partial => 'share/cancel', :locals => {:path => rights_path}  %>

</div>

 
