<h2><%= @title %></h2>
<h2 class="orange">Создайте заказ на сканирование</h2>

<%= form_for @order, :url => order_path(@order), :html => { :method => :put, :class => "admin_scan_order", :id => @order.id } do |order| -%>

  <%= order.fields_for :scan do |scan| %>
		<h2 class="red_line">Сколько страниц Вы хотите отсканировать (неважно что, фото или документы)?</h2>
		<div id="scan_documents_quantity">
			<%=  button_tag ' ', :type => 'button', :class => 'decrease_large' %>
          		<%= scan.text_field :scan_documents_quantity %>
      		<%=  button_tag ' ', :type => 'button', :class => 'increase_large' %>
		</div>
		<div id="scan_documents_cost"></div>
	<div class="fl_clear"></div>  

<p class="red_line">Включая страницы:</p>
	      	<%=  button_tag ' ', :type => 'button', :class => 'decrease_quantity', :id => 'base_correction' %>
          	<%= scan.text_field :base_correction_documents_quantity %>
      		<%=  button_tag ' ', :type => 'button', :class => 'increase_quantity', :id => 'base_correction' %>
 			с базовой коррекцией.
<div class="fl_clear"></div>
<br/>
	      	<%=  button_tag ' ', :type => 'button', :class => 'decrease_quantity', :id => 'coloring' %>
          	<%= scan.text_field :coloring_documents_quantity %>
      		<%=  button_tag ' ', :type => 'button', :class => 'increase_quantity', :id => 'coloring' %>
	 		с раскраской.
<div class="fl_clear"></div>
<br/>
			<%=  button_tag ' ', :type => 'button', :class => 'decrease_quantity', :id => 'restoration' %>
          	<%= scan.text_field :restoration_documents_quantity %>
      		<%=  button_tag ' ', :type => 'button', :class => 'increase_quantity', :id => 'restoration' %>
		 	 с реставрацией.
<div class="fl_clear"></div>
  <% end %>

  <div class="fl_clear"></div>

  <div class="total_cost_order">  </div>
  <div class="total_cost_order_label">  </div>
  
  <div class="fl_clear"></div>

	<div class="submit_area">
	 <%= submit_tag 'Сохранить изменения', :class => 'submit'  %>
	 <%= link_to 'Отмена', admin_orders_path, :class => 'button_style' %>
	</div>

<% end -%>

 