<h2><%= @title %></h2>

<h2 class="orange"> Информация по составу услуг </h2>
<h2 class="red_line">Количество страниц для сканирования: </h2>
	<div id="scan_documents_quantity">
		<p><%= @order.scan.scan_documents_quantity %></p>
	</div>
	<div id="scan_documents_cost">
		<%= read_cost_min_max(@order.scan) %>
	</div>
	<div class="fl_clear"></div>
<p class="red_line">Включая страницы:</p>
<ul class="square">
	<li><%= @order.scan.base_correction_documents_quantity %> с базовой коррекцией.</li>
	<li><%= @order.scan.coloring_documents_quantity %> с раскраской.</li>
	<li><%= @order.scan.restoration_documents_quantity %> с реставрацией.</li>
</ul>

<h2 class="orange"> Выезд по адресу для проведения сканирования</h2>
    <%= render :partial => 'orders/share/delivery_order_show', :locals => {:order => @order} %>

<br />
<br />
<br />

<div class="container_for_label_cost_order">
  <%= label(:order, :cost) %>
    <div class="container_for_cost_order">
		<%= read_cost(@order) %>
    </div>
</div>

<div class="container_for_label_pre_cost_order">
  <p> Примерная стоимость </p>
    <div class="container_for_pre_cost_order">
		<%= read_cost_min_max(@order) %>
    </div>
</div>

<div class="container_for_label_status_order">
    <%= label(:order, :order_status_id) %>
  <div class="container_for_status_order">
    <%=h @order.order_status.title %>
  </div>
</div>
<div class="container_for_label_created_at_order">
  <%= label(:order, :created_at) %>
    <div class="container_for_created_at_order">
      <%= Russian::strftime(@order.created_at, "%R, %d %B %Y года") %>
    </div>
</div>

<div class="fl_clear"></div>

<table>
  <tr>
    <% if current_user.has_role?('Administrator') %>
      <td>
        <%= link_to 'К списку заказов', admin_orders_path, :class => "button_style_long" %>
      </td>
    <% else %>
      <td>
        <%= link_to 'К моим заказам', my_orders_path, :class => "button_style_long" %>
      </td>
    <% end %>
  </tr>
</table>


