<h2><%= @title %></h2>
<p>Если письма не отправляются - запустить на сервере "RAILS_ENV=production rvm use 1.9.3 do bundle exec script/delayed_job start"</p>
  <p><%= link_to 'Создать рассылку', new_admin_mailing_path, :class => 'button_style_long' %></p>
<table class ="default_table">
  <tr class="header">
    <th></th>
    <th><%= Mailing.human_attribute_name("created_at") %></th>
    <th><%= Mailing.human_attribute_name("subject") %></th>
    <th><%= Mailing.human_attribute_name("sent_mails") %></th>
    <th><%= Mailing.human_attribute_name("all_mails") %></th>
    <th><%= Mailing.human_attribute_name("published") %></th>
    <th></th>
  </tr>

    <%= render :partial => 'mailing', :collection => @mailings %>

</table>

  
<%= link_to 'Назад', admin_settings_path, :class => 'button_style' %>
