<% content_for :head do %>
	<%= javascript_include_tag "ckeditor/init" %>
<% end %>
<h2><%= @title %></h2>
  <%= form_for :mailing, :url => admin_mailings_path, :html => { :method => :post } do |f| -%>

	<%= render :partial => 'form', :locals => {:f => f} %>

		<div class="submit_area">
			<%= submit_tag 'Сохранить', :class => 'submit' %>
		</div> 
	<% end -%>
	<%= render :partial => 'share/cancel', :locals => {:path => admin_mailings_path}  %>

