<tr class="grey_on_hover">
  <td><%= link_to 'X', admin_lists_print_color_path(color), :confirm => 'Вы действительно хотите удалить?', :method => :delete %></td>
  <td><%=h (color.color) %></td>
  <td><%=h (color.price) %></td>
  <td><%=h (color.order_type.title) %></td>
  <td><%= link_to 'Редактировать', edit_admin_lists_print_color_path(color) %></td>
</tr>