<h2><%= @title %></h2>

<h2 class="orange"> Файлы </h2>
<table id="fileList" class="default_table">
	<thead>
  		<tr id="fileList_header" class="header">
    		<%= render :partial=>'orders/foto_print/header_table_with_documents' %>
  		</tr>
  	</thead>
  	<%= render :partial=>'orders/foto_print/show_foto', :collection => @order.documents %>
</table>

<h2 class="orange"> Доставка </h2>
<%= render :partial => 'orders/share/delivery_order_show', :locals => {:order => @order} %>

<%= render :partial => 'orders/share/show_order_attributes' %>

<%= render :partial => 'orders/share/show_order_navigations' %>

