<h1>Создание</h1>
<div class="form_shape">
	<%= form_for :grade, :url => lists_paper_grades_path do |f| %>
	  <%= f.error_messages %>
	  <%= render :partial => 'form', :locals => {:f => f} %>
	  
	    <div class="submit_area">
	      <%= submit_tag 'Сохранить', :class => 'submit' %>
	      <%= link_to 'Назад', lists_paper_grades_path, :class => 'button_style' %>
	    </div>
	
	<% end %>
</div>
 
