<% @str_1 = "<div class=\"link_container_for_service\" onclick= \"window.location = '/services/#{service_id}/subservices/#{subservice.permalink}';\">" %>
<% @str_2 = "</div>" %>

<%= @str_1.html_safe %>
  <%= image_tag(subservice.header_icon_url, :border => '0') %>
  <div class="service_title">
    <%= subservice.title %>
  </div>
  <div class="service_synopsis">
    <%= subservice.synopsis %>
  </div>
<%= @str_2.html_safe %>