<% @str_1 = "<div class=\"link_container_for_service\" onclick= \"window.location = '/services/#{service_id}/subservices/#{subservice_for_user.permalink}';\">" %>
<% @str_2 = "</div>" %>

<%= @str_1.html_safe %>
  <%= image_tag(subservice_for_user.subservice_header_icon.url, :border => '0') %>
  <div class="service_title">
    <%= subservice_for_user.title %>
  </div>
  <div class="service_synopsis">
    <%= subservice_for_user.synopsis %>
  </div>
<%= @str_2.html_safe %>