<h2>Редактирование подуслуг</h2>
  <p><%= link_to 'Создать подуслугу', new_subservice_path, :class => 'button_style_long' %></p>
<table class ="admin">
  <tr>
    <th></th>
    <th><%= Subservice.human_attribute_name("title") %></th>
    <th><%= Subservice.human_attribute_name("synopsis") %></th>
    <th><%= Subservice.human_attribute_name("permalink") %></th>
    <th><%= Subservice.human_attribute_name("service_id") %></th>
    <th><%= Subservice.human_attribute_name("order_type_id") %></th>
    <th></th>
  </tr>

  <%= render :partial => 'subservice_for_admin', :collection => @subservices %>
</table>
<%= link_to 'Назад', admin_users_path, :class => 'button_style' %>
