<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery.carouFredSel" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "ckeditor/init.js" %>
  <%= csrf_meta_tags %>

  <style type="text/css"><%= yield :stylesheets %></style>

  <%= yield :head %>
</head>
<body>
  <div id="header" >
    <div id="top_nav">
        <div id="user_options">
          <% if logged_in? -%>
            <%= render :partial => 'sessions/current' %>
          <% else -%>
            <%= link_to 'Log In', :login, :class => 'box_user_opt' %>
          <% end -%>
        </div>
        <%= render :partial => 'share/header_menu' %>
        <div id="logo_container">
          <%= link_to 'Logotype', :root, :class => 'logo' %>
        </div>
    </div>
  </div>

  <div id="slide_panel">
      <div id="slide_image">
        <%= image_tag("1.png")%>
        <%= image_tag("2.png")%>
        <%= image_tag("3.png")%>
      </div>
    <div class="clearfix"></div>
    <div id="slide_background">
      <div class="red" ></div>
      <div class="black"></div>
      <div class="white"></div>
    </div>
    <div class="clearfix"></div>
    <div id="slide_img_pag" class="slide_pagination" ></div>

  </div>

  <div id="flash_panel">
    <% if flash[:notice] -%>
      <div id="notice" ><%= flash[:notice] %></div>
    <% end -%>

    <% if flash[:error] -%>
      <div id="error" ><%= flash[:error] %></div>
    <%  end -%>
  </div>

  <div id="content_panel">

      <%= content_for?(:content_panel) ? yield(:content_panel) : yield %>

  </div>

  <div id="first_bottom_panel">

  </div>

  <div id="second_bottom_panel">
    <div id="bot_nav">
      <%= render :partial => 'share/bottom_menu' %>
    </div>
  </div>



  <% if logged_in? && current_user.has_role?('Administrator') %>
    <%= render :partial => 'share/admin_menu' %>
  <% end %>

  </body>

</html>
